.search-filter-form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.filter-container{
    display:flex;
    align-items: center;
    width: 13vw;
}

.filter-container p{
    margin-right: 20px;
}

.low{
    background-color: rgba(255, 0, 0, .6);
}
 
.med{
    background-color: rgba(255, 165, 0, .6);
}

.high{
    background-color: rgba(4, 249, 4, 0.6);
}

.filter-dropdown{
    display: flex;
    align-items: center;
}

.filter-dropdown label{
    margin-right: 10px;
    width: 103px;
}

.filter-dropdown-selection{
    border-radius: 5px;
    height: 25px;
}

.search-input{
    width: 400px;
    border-radius: 10px;
    background-color: rgb(247, 242, 242);
    margin-right:40px;
    height: 30px;
}
 
.sort-button-wrapper{
    align-items: center;
    display:flex;
}

.sort-button-wrapper button{
    color:white;
    font-size: .8em;
    border-radius: 1em;
    border: 2px solid white;
}

.sort-button-wrapper p{
    margin-right: 10px;
}

@media screen and (max-width: 1240px){
    .search-filter-form {
        flex-direction: column;
    }
    .rating-display {
        font-size: 17px;
    }
    .movie-card {
        height: 250px;
        width: 140px;
    }
    h3 {
        font-size: .7em;
    }
    .search-input{
        margin-right:0px;
    }
    .movies-container {
        width: 90%;
    }
  }
  
  @media screen and (max-width: 650px){
    .search-input{
        width: 300px;
    }
    .rating-display {
        font-size: 11px;
    }
    
    .movie-card {
        height: 125px;
        width: 70px;
        margin-bottom: 10px;
        height: 144px;
    }
    h3 {
        font-size: .3em;
    }
    .movies-container {
        width: 100%;
        min-width: 370px;
    }
    .header-container img {
        width: 200px;
        height: 40px;
        margin-left: 20px;
    }
    html { 
        min-width: 370px;
    }
  }
  
  
  