.header-container{
    background-color: black;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header-container img{
    width: 300px;
    height: 60px;
    margin-left: 50px;
}