



button {
  padding: 1em;
  border-radius: 1em;
}



.selectedMovie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-size: cover;
  position:relative;
  
}

.movie-info{
  background-color: rgba(245, 242, 242, 0.75);
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 100vw;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 40%;
  width: 50%;
  margin-bottom: 30px;
  margin-top: 200px;
  }

.video-container iframe {
  height: 100%;
  width: 100%;
}

.movie-info h3{
  font-size: 30px;
  margin-bottom: 0;
  margin-left: 20px;
}

.tagline{
  color: rgb(136, 255, 0);
  font-weight: bold;
  font-size: 40px;
}


.bottom-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 20px;
}

.movie-info p{
  font-weight: bold;
}

.top-info{
  display:flex;
}

.top-info p{
  margin-top: 42px;
  margin-left: 20px;
}

.back-button{
  top: 5px;
  left: 5px;
  position: absolute;
}

.top-info > *:not(:last-child){
  border-right: 2px solid #090909;
  padding-right: 15px; 
}

.tagline-container{
  margin-bottom: 100px;
  margin-top: 50px;
}