
button {
  padding: 1em;
  background-color: black;
  color: white;
  font-size: 10px;
}

button:hover{
  cursor: pointer;
}

.selectedMovie {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  position:relative;
  background-size: 100% 100%;
  min-width: 330px;
}

.movie-info{
  background-color: rgba(11, 11, 11, 0.8);
  display: flex;
  flex-direction: column;
  color:white;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 50%;
  width: 102%;
  border-bottom: solid 20px black;
}

.video-container iframe {
  height: 100%;
  width: 100%;
}

.video-container img {
  height: 100%;
  width: 30%;
  min-width: 150px;
}

.movie-info h3{
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 21px
}

.tagline{
  color: rgb(136, 255, 0);
  font-weight: bold;
  font-size: 40px;
}

.bottom-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.movie-info p{
  font-weight: bold;
}

.top-info{
  display:flex;
  margin-right: 10%;
}

.top-info p{
  margin-top: 27px;
  margin-left: 20px;
}

.back-button{
  top: -55px;
  right: -20px;
  position: absolute;
}

.top-info > *:not(:first-child){
  border-left: 1px solid #f7f4f4;
  padding-left: 15px; 
}

.tagline-container{
  margin-bottom: 100px;
  margin-top: 50px;
}

.selected-movie-container{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  border: solid 20px black;
  background: black;
}