



button {
  padding: 1em;
  background-color: black;
  color: white;
  font-size: 10px;
}

button:hover{
  cursor: pointer;
}


.selectedMovie {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  width: 50vw;
  height: 50vh;
  background-size: cover;
  position:relative;
  /* background-position: center center; */
  
}

.movie-info{
  background-color: rgba(11, 11, 11, 0.8);
  display: flex;
  flex-direction: column;
  color:white;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Montserrat', sans-serif;
  /* height: 35%; */
  /* width: 100vw; */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 40%;
  width: 65%;
  margin-bottom: 30px;
  margin-top: 30px;
  }

.video-container iframe {
  height: 100%;
  width: 100%;
}

.movie-info h3{
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 21px
}

.tagline{
  color: rgb(136, 255, 0);
  font-weight: bold;
  font-size: 40px;
}


.bottom-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 20px;
}

.movie-info p{
  font-weight: bold;
}

.top-info{
  display:flex;
}

.top-info p{
  margin-top: 27px;
  margin-left: 20px;
}

.back-button{
  top: 30px;
  right: 5px;
  position: absolute;
}

.top-info > *:not(:first-child){
  border-left: 1px solid #f7f4f4;
  padding-left: 15px; 
}

.tagline-container{
  margin-bottom: 100px;
  margin-top: 50px;
}

.selected-movie-container{
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}