.movies-container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    width: 80%;
}

.filter-sort-form{
    height: 20px;
    background-color: aqua;
}

.no-movies-container{
    background-color: yellow;
    width: 80%;
    
}